

body {
    font-family:'GalanoGrotesqueAlt', 'Trebuchet MS','Adjusted Trebuchet MS Fallback' sans-serif;
}



.section_2{
   
    display: flex;
    margin: 40px 205.333px 60px;
    padding: 0 16px;
    height: 472px;
    width: 1280px;
    flex-direction: column;
}

.section_2 h2{
    font-size: 24px; 
    font-weight: 700;
    text-align: inherit;
    line-height: 32px;
    
}
.section_2picture{
    display: flex;
    height: 416px;
    margin-top: 24px;
}