

body {
    font-family:'GalanoGrotesqueAlt', 'Trebuchet MS','Adjusted Trebuchet MS Fallback' sans-serif;
     margin-bottom: 40px;
     display: flex;
     
}
section{
    margin: 40px auto;
    
}



.section_2{
   
    display: flex;
    // margin:auto 205.333px 60px;
    padding: 0 16px;
    height: 472px;
    width: 1248px;
    flex-direction: column;
}

.section_2 h2{
    font-size: 24px; 
    font-weight: 700;
    text-align: inherit;
    line-height: 32px;
    margin: 0;
    
}
.section_2picture{
    display: flex;
    height: 416px;
    margin-top: 24px;
}

.section_3{
    width: 1248px;
    height: 369px ;
    margin-top: 40px;
}
.section4{

}
